h1 {
    color: #043315;
}

h2 {
    color: #0EB047;
}

dt {
    color: #58E88A;
}

dd {
    color: #26633B;
}

footer {
    color: #043315;
}

.description {
    color: #58E88A;
}

.bullets {
    color: #26633B;
}

.contact {
    color: #12E35B;
}